.directory{
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin: 10px 0 0 10px;
}
.directory td, .directory th  {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}
.directory td {
    text-align: left;
}

.directory td.alright {
    text-align: right;
}

.directory tr:not(.groupingrow):nth-child(2n){
    background-color: #eee;
}
.directory tr:hover:not(:first-child):not(.groupingrow){
    background-color: #ffff99;
}
.directory th {
    border-bottom:2px solid #ccc;
}
.directory:hover{
    border: 2px solid #bbb;
}

div.red{
    display: inline;
    font-weight: 600;
}

.groupingrow h1, .groupingrow h2, .groupingrow h3, .groupingrow h4, .groupingrow h5, .groupingrow h6 {
    text-align: left;
    font-size: 15px;
    height: auto;
    line-height: normal;
    padding: 0;
    margin: 0;
}

.directorynavbar a {
    width: 20%;
    display: inline;
    float: left;
}