.directory{
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin: 10px 0 0 10px;
}
.directory td, .directory th  {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}
.directory tr:nth-child(2n){
    background-color: #eee;
}
.directory tr:hover:not(:first-child){
    background-color: #ddd;
}
.directory th {
    border-bottom:2px solid #ccc;
}
.directory:hover{
    border: 2px solid #bbb;
}
